* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

main {
  padding: 2rem;
  text-align: center;
  flex: 1;
  font-weight: bold;
}

h2, h3 {
  font-size: 1.8rem;
  padding: 1rem;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 15px;
}

header,
footer {
  background-color: #ca8637;
  color: white;
  padding: 10px 20px;
}

header img.logo {
  height: 40px;
  vertical-align: middle;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.login-button {
  float: right;
  background-color: #007acc;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}

/* Container pour les cartes */
#places-list {
  display: flex;
  flex-wrap: center;
  justify-content: center;
}

/* Cards */
.place-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.place .place-card,
.review-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.review-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}


.details-button {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

/* Forms */
form {
  max-width: 400px;
  margin: 40px auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #004a7c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
