* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
}

header img.logo {
  height: 40px;
  vertical-align: middle;
}

header,
footer {
  background-color: #ca8637;
  color: white;
}


footer {
  text-align: center;
  padding: 10px 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

main {
  padding: 2rem;
  text-align: center;
  flex: 1;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  padding: 1rem;
}

h3 {
  font-size: 1.8rem;
  padding: 1rem;
}

/* Container pour les cartes */
#places-list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centre exact */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Cards */
.place-card,
.review-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* Button */
.login-button {
  float: right;
  background-color: #007acc;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}

.details-button {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

/* Forms */
form {
  max-width: 400px;
  margin: 40px auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #004a7c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
